spec/validation/schema/schema-multi-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="qualified" 
  targetNamespace="http://www.other.com" 
  xmlns:ns1="http://www.other.com">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:child"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="child">
    <xs:complexType>
      <xs:sequence>
        <xs:any processContents="lax" namespace="##other" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="x" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
